/* index.html */
body {
    font-family: "Playfair Display", serif;
    margin: 20px;
    background: #f9f9f9;
}

h1 {
    color: #333;
    font-family:"Chelsea Market", cursive;
}

form {
    margin-bottom: 20px;
}

input {
    padding: 8px;
    margin-right: 5px;
}

button {
    padding: 8px 12px;
    background: #ca3792;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #ac134e;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: rgb(255, 232, 232);
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Navbar */
.navbar {
    background: #333;
    padding: 0.5rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

img{
    width: 70px;
    height: 70px;
}

/* Estilo para el select del tamaño */
select#size {
    padding: 8px;       
    margin-right: 5px;  
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
    font-family: "Playfair Display", serif;
}
