/* index.html */
body {
    font-family: "Montserrat", sans-serif;
    background:#fffaf2;
    color: #321f12;
    
}

.logo {
    object-fit: fill;
    width: 100%;
    height: auto;
    display: block;
}


form {
    text-align: center;
}

.gestion-container {
    padding: 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: transparent; 
    border-top: 2px solid #EFD7CF;
    border-bottom: 2px solid #EFD7CF;
}

h1 {
    text-align: center;
    font-size: 20px;
    color: #321F12; /* mismo color del texto principal */
    font-weight: bold;
}

input, select {
    border-radius: 10px;
    border: 2px solid #EFD7CF;
    background: #FFFFFF;
    width: 100px;
    padding: 8px;
    margin: 5px;
    font-family: "Montserrat", sans-serif;
    color: #3128228e;
}


button {
    margin: 5px;
    padding: 8px 12px;
    background: #EFD7CF;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #DDBAAE;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
}

button:hover {
    background: #DDBAAE;
}

table {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    background-color: #f7efe2;
    border: 2px solid #EFD7CF;
    font-size: 13px;
}

th, td {
    border: 1px solid #EFD7CF;
    padding: 8px;
    text-align: left;
}

th {
    background: #e4c3b8; /* cabecera rosa suave */
    color: #321F12;
    font-size: 14px;
}



th:first-child, td:first-child{
    width: 7px;
}


/* Navbar */
.navbar {
    z-index: 1;
    background: #efd7cf;
    padding: 0.6rem 2rem;
    position: fixed;
    width: 90%;          /* ancho de la barra */
    left: 0;
    right: 0;
    margin: 10px auto;   /* centra la barra */
    box-sizing: border-box;
    border: 2px solid #321f12;
    border-radius: 25px;
}

/* logo */
.navbar .bloomlogo {
    width: 200px;
    height: auto;
}

/* menú */
.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

/* compras a la derecha */
.navbar li:last-child{
    margin-left: auto;
}

.navbar a {
    color: #321f12;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.navbar a:hover {
    font-weight: bolder;
}

img{
    width: 100%;
    height: 70px;
    object-fit: cover;
    
}

@media (max-width: 900px) {
    .navbar{
        width: 95%;
        padding: 0.5rem 1rem;
    }

    .navbar.bloomlogo{
        width: 150px;
    }

    .navbar ul{
        gap: 1rem;
        font-size: 14px;
    }

}

@media (max-width: 600px) {

    .navbar{
        width: 95%;
        padding: 0.5rem 1rem;
    }

    .navbar .bloomlogo{
        width: 150px;
    }

    .navbar ul{
        gap: 0.5rem;
        font-size: 14px;
    }

}